:root {
  --color-background-main: rgba(255, 255, 255, 1);
  --color-background-second: rgba(245, 247, 255, 1);
  --color-text-main: rgba(50, 50, 50, 1);
  --color-text-second: rgba(168, 168, 168, 1);
  --section-padding-bottom-main: 119px;
  --color-action: #ff5c00;
}

body {
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--color-text-main);
}

.section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
