.stats__wrapper {
  background-color: rgba(206, 213, 244, 1);
  border-radius: 30px;
  padding: 74px 15px;
}

.stats-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 117px;
}

.stats-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.stats-list__count {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(88, 78, 198, 1);
}

.stats-list__name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  .stats-list {
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    justify-content: center;
  }
}
